body {
  margin: 0px;
  background-color: white;

  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: hsl(192, 100%, 9%);
  line-height: 27px;
}

header {
  padding: 75px 4.86% 150px 4.86%;

  display: flex;
  justify-content: space-between;
}

#header-logo {
  max-width: 18.46%;
  min-width: 130px;
  aspect-ratio: 6.15 / 1;
}

#header-btn {
  min-width: 9.38%;
  background-color: white;
  border-color: hsl(321, 100%, 78%);
  color: hsl(321, 100%, 78%);
  border-radius: 30px;
}

#header-btn:hover {
  border-color: hsla(321, 100%, 78%, 0.75);
  color: hsla(321, 100%, 78%, 0.75);
  cursor: pointer;
}

.sect-t1 {
  padding: 60px 14.58%;
  display: flex;
  gap: 110px;
  flex-direction: column;
}

#texts-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  text-align: center;
  line-height: 54px;
}

#desc-1 {
  max-width: 57.84%;
  text-align: center;
}

.btn {
  min-width: 39.22%;
  aspect-ratio: 5 / 1;
  background-color: hsl(322, 100%, 66%);
  border-radius: 40px;
  border-color: hsl(322, 100%, 66%);
  color: hsl(207, 100%, 98%);
  font-size: 18px;
  font-weight: 700;
}

.btn:hover {
  background-color: hsla(322, 100%, 66%, 0.75);
  border-color: hsla(322, 100%, 66%, 0.75);
  cursor: pointer;
}

#sect-2 {
  flex-direction: row;
  justify-content: space-around;
}

.count {
  margin: 20px 0px 40px 0px;
  font-size: 72px;
  font-weight: 700;
}

.count-info {
  text-align: center;
  font-weight: 600;
  color: hsla(192, 100%, 9%, 0.5);
}

.sect-t2 {
  padding: 225px 9.03%;
  display: flex;
  gap: 11%;
  align-items: center;
}

#sect-3 {
  background-image: url("./images/bg-section-top-desktop-1.svg"),
    url("./images/bg-section-bottom-desktop-1.svg"),
    linear-gradient(
      180deg,
      white 0px 165px,
      rgb(247, 251, 255) 165px calc(100% - 139px),
      white calc(100% - 139px)
    );
  background-repeat: no-repeat, no-repeat;
  background-position: top, bottom;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  line-height: 45px;
}

.illu {
  max-width: 50%;
}

.illu-right {
  order: 1;
  max-width: 40%;
}

#sect-5 {
  background-image: url("./images/bg-section-top-desktop-2.svg"),
    url("./images/bg-section-bottom-desktop-2.svg"),
    linear-gradient(
      180deg,
      white 0px 156px,
      rgb(247, 251, 255) 156px calc(100% - 139px),
      white calc(100% - 139px)
    );
  background-repeat: no-repeat, no-repeat;
  background-position: top, bottom;
}

#sect-t3 {
  padding: 160px 14.58%;
  text-align: center;
}

footer {
  padding: 225px 9.03% 90px 9.03%;
  display: flex;
  gap: 20%;

  background-image: url("./images/bg-footer-top-desktop.svg"),
    linear-gradient(180deg, white 0px 155px, hsl(192, 100%, 9%) 156px);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 158px, auto auto;

  color: hsl(207, 100%, 98%);
}

#footer-content-1 {
  max-width: 35%;
  order: -1;
  display: flex;
  flex-direction: column;
}

#footer-content-2 {
  max-width: 45%;
  display: flex;
  flex-direction: column;
}

.info {
  margin: 10px 0px;
}

span {
  margin-left: 4.85%;
}

#icons {
  margin-top: 50px;
  display: flex;
  gap: 7%;
}

#facebook-icon {
  background-image: linear-gradient(
      90deg,
      white 0% 30%,
      transparent 31% 69%,
      white 70% 100%
    ),
    repeating-linear-gradient(
      0deg,
      white 0% 5%,
      transparent 6% 90%,
      white 90% 100%
    );
}

#facebook-icon:hover {
  fill: cyan;
  background-image: linear-gradient(
      90deg,
      cyan 0% 30%,
      transparent 31% 69%,
      cyan 70% 100%
    ),
    repeating-linear-gradient(
      0deg,
      cyan 0% 5%,
      transparent 6% 90%,
      cyan 90% 100%
    );
}

#instagram-icon:hover {
  fill: cyan;
}

#twitter-icon {
  background-color: white;
}

#twitter-icon:hover {
  background-color: cyan;
}

h3 {
  margin: 5px 0px;
  font-family: "Poppins", sans-serif;
  font-size: 21px;
}

#sub-desc {
  max-width: 80%;
  margin-bottom: 30px;
}

#subscribe {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#email {
  width: 68%;
  border-radius: 5px;
  padding-left: 2%;
  font-size: 18px;
}

#warning-msg {
  order: 1;
  font-size: 16px;
  margin: 10px 0px;
  color: red;
}

.invalid {
  border: 1px solid red;
}

.error {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

#sub-btn {
  order: 1;
  width: 25%;
  background-color: hsl(322, 100%, 66%);
  border-radius: 5px;
  border-color: hsl(322, 100%, 66%);
  color: hsl(207, 100%, 98%);
  font-weight: 700;
}

#sub-btn:hover {
  background-color: hsla(322, 100%, 66%, 0.75);
  border-color: hsla(322, 100%, 66%, 0.75);
  cursor: pointer;
}

@media (max-width: 900px) {
  #desc-1 {
    max-width: 100%;
  }

  #subscribe {
    height: 100px;
    gap: 10px;
    flex-direction: column;
  }

  #email {
    width: 97%;
    height: 50px;
  }

  #sub-btn {
    width: 50%;
    height: 50px;
    align-self: end;
  }

  #warning-msg {
    order: 0;
  }
}

@media (max-width: 835px) {
  footer {
    flex-direction: column;
    gap: 45px;
  }

  #footer-content-1 {
    order: 0;
    max-width: 100%;
  }

  #footer-content-2 {
    max-width: 100%;
  }

  #subscribe {
    flex-direction: row;
  }

  #sub-desc {
    max-width: 100%;
  }

  #email {
    width: 68%;
    height: 44px;
  }

  #sub-btn {
    width: 25%;
    align-self: auto;
  }
}

@media (max-width: 700px) {
  #sect-2 {
    flex-direction: column;
    align-items: center;
  }

  .sect-t2 {
    flex-direction: column;
    gap: 60px;
    text-align: center;
  }

  .illu {
    max-width: 100%;
  }

  .illu-right {
    order: 0;
  }
}

@media (max-width: 480px) {
  footer {
    gap: 90px;
  }

  #subscribe {
    flex-direction: column;
  }

  #email {
    width: 97%;
    height: 50px;
  }

  #sub-btn {
    width: 50%;
    align-self: end;
  }
}
